.headings {
    padding-top: 3px;
    padding-bottom: 5px;
    text-align: center;
    background: linear-gradient(0deg, rgba(2,60,136,1) 0%, rgba(41,185,224,1) 100%);
    color: white;
    font-size: 100%;
    border-radius: 12px;
    margin-top: 15px;
}

.about-blahaj {
    padding-top: 3px;
    padding-bottom: 5px;
    text-align: center;
    background: #075a8a;
    color: white;
    font-size: 100%;
    border-radius: 12px;
    margin-top: 15px;
}

.top-tips-blahaj {
  padding-top: 3px;
  padding-bottom: 5px;
  text-align: center;
  background: #075a8a;
  color: white;
  font-size: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.more-blahajing-soon {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  background: #075a8a;
  color: white;
  font-size: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

body {
    height: 100vh;
    background: #003C5F;
    color: white;
    font-size: 110%;
    font-weight: normal;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Funnel Sans', sans-serif;
}

h1 {
    font-weight: bolder;
}

h4 {
    font-weight: normal;
}

button {
    background: rgb(2,60,136);
    color: white;
    font-size: 90%;
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    font-family: 'Funnel Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-width: 0px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }